body {
		background: url("../images/cloud2.jpg") 
		no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		}   

h1 {
	font-weight: bold;
	font-size: 69px;
	margin-bottom: 15px;
	text-align: center;
}

small {
	font-weight: normal;
	font-size: 40px;
}

.wrapper {
	margin: 60px 0 60px 60px;
}

.blessing-button {
	font-size: 14px;
	background: rgb(169, 109, 197);
	border: none;
	padding: 10px 15px;
	margin: 6px;
	border-radius: 10px;
}

.blessing-button:hover, .blessing-button:active {
	background: #5C3836;
	color: #fff;
}

#add-blessing-button {
	font-size: 14px;
	color: #fff;
	background: rgb(156, 73, 136);
	border: none;
	padding: 10px 15px;
	margin: 6px;
	border-radius: 10px;
}

#add-blessing-button:hover, #add-blessing-button:active {
	background: #00cc00;
}

#new-blessing-input {
	padding: 10px 15px;
	font-size: 14px;
	border: none;
	border-radius: 10px;
}

#button-group {
	margin-right: 20px;
	margin-bottom: 15px;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.result-container {
	margin: 30px 30px 0 0;
}

.result {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.result:hover {
	-webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    10px 10px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}

p {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 6px 4px;
}